python-dotenv
ipykernel
langchain
langchain-openai
langchain-chroma
langchain-google-genai
langchain-huggingface
langchain-groq
langchain-community
markdown
tesseract
pydantic 
lxml 
langchainhub
unstructured[all-docs]
huggingface_hub[hf_xet]
pdfplumber
htmltabletomd
redis
